body{
	color: #ca3e47;
	background-color: #414141;
}

.top {
	background-color: #313131;
	border-radius: 25px;
	padding: 25px;
}

.title{
	font-size: 50;
	font-family: Serif;
	font-weight: 150;
	text-align: center;
}

.status{
	background-color: #525252;
	height: 500;
	font-size: 25;
	font-weight: 50;
	border-radius: 25px;
	padding: 25px;
}

.status-entry{
	background-color: #ff4d00;
	color: white;
	border-radius: 25px;
	padding: 25px;
}

.status-title{
	font-size: 50;
	font-family: Serif;
	font-weight: 150;
	text-align: center;
	background-color: #313131;
	border-radius: 5px;
	
}