
.top {
	border-radius: 25px;
	padding: 25px;
}



input{
	outline: none;
	resize: none;
}

div.g-recaptcha {
	min-height: 45px;
	min-width: 90px;
	border: 1px black;
	color: #fff;
	text-color: #000;
}


.title{
	font-size: 50px;
	font-family: Serif;
	font-weight: 150;
	
}

.status{
	height: 500;
	font-size: 25;
	font-weight: 50;
	border-radius: 25px;
	padding: 25px;
}

.status-entry{

	border-radius: 25px;
	padding: 25px;
}

.status-title{
	font-size: 25px;
	font-family: Serif;
	font-weight: 150;
	
	border-radius: 5px;
	padding: 25px;
	
}

.button{
	outline: none;
	border-radius: 25px;
	padding: 25px;
	font-size: 25px;
	font-family: Serif;
	
}

.button_threads{
	outline: none;
	border-radius: 5px;
	padding: 5px;
	font-size: 10px;
	font-family: Serif;
	
}

.center{
	text-align: center;
}

.left{
	text-align: left;
}

.right{
	text-align: right;
}

.color1{
	background-color: #ff4d00;
	color: #35eaea;
}

.color2{
	background-color: #525252;
	color: #ca3e47;
}

.color3{
	background-color: #313131;
	color: #ca3e47;
}

.color4{
	color: #ca3e47;
	background-color: #414141;
}

.color5{
	background-color: #202060;
	color: #602080;
}

.color6{
	background-color: #202040;
	color: #b030b0;
}

.color7{
	background-color: #202040;	
	color: #b030b0;
}

input.dark1{
	background-color: #3e2d80;
	color: #b030b0;
	font-weight: bold;
}


