
.top {
	border-radius: 25px;
	padding: 25px;
}

.title{
	font-size: 50px;
	font-family: Serif;
	font-weight: 150;
	
}

.status{
	height: 500;
	font-size: 25;
	font-weight: 50;
	border-radius: 25px;
	padding: 25px;
}

.status-entry{

	border-radius: 25px;
	padding: 25px;
}

.status-title{
	font-size: 25px;
	font-family: Serif;
	font-weight: 150;
	
	border-radius: 5px;
	padding: 25px;
	
}

.center{
	text-align: center;
}

.left{
	text-align: left;
}

.right{
	text-align: right;
}

.color1{
	background-color: #ff4d00;
	color: #35eaea;
}

.color2{
	background-color: #525252;
	color: #ca3e47;
}

.color3{
	background-color: #313131;
	color: #ca3e47;
}

.color4{
	color: #ca3e47;
	background-color: #414141;
}